{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <h1>Chi Sono</h1>
        <p>Sono [Nome Cognome], uno sviluppatore web con passione per la creazione di soluzioni digitali innovative.</p>
        <p>Ho una vasta esperienza nello sviluppo web, con competenze in HTML, CSS, JavaScript, Python, Django e altri
            framework e tecnologie correlate.</p>
        <p>Al di là del mondo del web development, mi appassiona anche l'intelligenza artificiale e l'apprendimento
            automatico, e sono sempre alla ricerca di nuovi modi per combinare le mie passioni.</p>
        <p>Per ulteriori informazioni, non esitate a contattarmi!</p>
    </div>
{% endblock %}