{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container" id="resume">
        <h2>Curriculum Vitae</h2>
        <!-- Inserisci qui il tuo curriculum -->
        <p>
            <strong>Nome:</strong> [Il tuo nome]<br>
            <strong>Data di nascita:</strong> [La tua data di nascita]<br>
            <strong>Indirizzo:</strong> [Il tuo indirizzo]<br>
            <strong>Email:</strong> [La tua email]<br>
            <strong>Telefono:</strong> [Il tuo numero di telefono]<br>
            <strong>Istruzione:</strong> [La tua istruzione]<br>
            <strong>Esperienza Lavorativa:</strong> [La tua esperienza lavorativa]<br>
            <!-- Aggiungi altre sezioni del curriculum se necessario -->
        </p>
    </div>
{% endblock %}
